a, a:visited {
  color: #57C;
  font-weight: bold;
  text-decoration: none;
}
a:hover, a:visited:hover {
  color: #97E;
}

body {
  background-color: #8A4358;
  color: #222;
}
canvas {
  background-color: #E1DEEA;
  border: 5px solid;
  border-color: #2868B8;
}
select {
  color: #505;
  font-size: 14px;
  font-weight: bold;
}
select:hover {
  color: #949;
}

.debug {
  border: 0px solid red;
}
.fw-bold {font-weight: bold;}

@keyframes stretch {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
.stretching-container {
  -webkit-animation: stretch 600ms running;
  -moz-animation: stretch 600ms running;
  -o-animation: stretch 600ms running;
  animation: stretch 600ms running;
}
.fading-container {
  -webkit-animation: fade 400ms running;
  -moz-animation: fade 400ms running;
  -o-animation: fade 400ms running;
  animation: fade 400ms running;
}

#container {
  background-color: #F1EEFA;
  border-radius: 10px;
  box-shadow: 0 0 2px 4px #2868B8;
  margin: 16px auto;
  padding: 32px;
  width: 876px;
  position: relative;
}
#right-container {
  display: inline-block;
  float: right;
}

#atomic-number-container {
  margin: 4px 10px;
  float: right;
}

#element-description-container {
  height: 176px;
  padding: 12px;
  text-align: left;
  width: 516px;
}
#element-name {
  display: inline-block;
  margin: 0;
}
#element-description,
#atomic-number {
  margin: 8px 0 0 0;
}
#level-display {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  margin: 8px 16px;
}
#level-display p {
  margin: 8px 0 8px 6px;
}
#level-display td {
  padding: 4px 2px;
}
#level-display td:first-child {
  text-align: right;
}

#periodic-table-container {
  position: relative;
}

#tetris-grid {
  margin-right: 16px;
}
#tetris-preview {
  display: inline-block;
}
#tetris-table {
  display: block;
}
