body {
  background-color: #F9F5FC;
}

.container {
  background-color: #F1EEFA;
  border: 0.5em solid #AAF;
  box-shadow: 0.25em 0.25em 0.25em #444;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  width: 60em;
}
#right-container {
  display: inline-block;
  vertical-align: top;
}

#element-description {
  border: 1px solid #DDA;
  height: 182px;
  padding: 12px;
  width: 516px;
}
#element-description h2 {
  margin: 0;
}
#element-description p {
  margin: 8px 0 0 0;
}
#level-display {
  border: 1px solid #DAD;
  display: inline-block;
  vertical-align: top;
  height: 120px;
  width: 416px;
}
#tetris-grid {
  border: 1px solid #DAA;
}
#tetris-preview {
  border: 1px solid #AAD;
}
#tetris-table {
  border: 1px solid #ADA;
  display: block;
}